In [42]:
import pandas as pd
import numpy as np

In [43]:
data = pd.read_csv("news_summary_more.csv")

In [44]:
data = data[0:50000]

In [45]:
data.head()

,headlines,text
0,upGrad learner switches to career in ML & Al w...,"Saurav Kant, an alumnus of upGrad and IIIT-B's..."
1,Delhi techie wins free food from Swiggy for on...,Kunal Shah's credit card bill payment platform...
2,New Zealand end Rohit Sharma-led India's 12-ma...,New Zealand defeated India by 8 wickets in the...
3,Aegon life iTerm insurance plan helps customer...,"With Aegon Life iTerm Insurance plan, customer..."
4,"Have known Hirani for yrs, what if MeToo claim...",Speaking about the sexual harassment allegatio...

In [46]:
text = data["text"]

In [47]:
text[0]

"Saurav Kant, an alumnus of upGrad and IIIT-B's PG Program in Machine learning and Artificial Intelligence, was a Sr Systems Engineer at Infosys with almost 5 years of work experience. The program and upGrad's 360-degree career support helped him transition to a Data Scientist at Tech Mahindra with 90% salary hike. upGrad's Online Power Learning has powered 3 lakh+ careers."

In [48]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords

In [49]:
clear_text = []
for i in range(len(text)):
    clear_text.append(text[i].lower().replace(".","").replace(",",""))

In [50]:
clear_text[0]

"saurav kant an alumnus of upgrad and iiit-b's pg program in machine learning and artificial intelligence was a sr systems engineer at infosys with almost 5 years of work experience the program and upgrad's 360-degree career support helped him transition to a data scientist at tech mahindra with 90% salary hike upgrad's online power learning has powered 3 lakh+ careers"

In [51]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Videet\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [52]:
tokens = []
for i in range(len(clear_text)):
    tokens.append(word_tokenize(clear_text[i]))

In [55]:
summary = data["headlines"]

In [56]:
clear_summary = []
for i in range(len(summary)):
    clear_summary.append(summary[i].lower().replace(".","").replace(",",""))

In [57]:
clear_summary[0]

'upgrad learner switches to career in ml & al with 90% salary hike'

In [58]:
max_len = 0
for i in range(len(tokens)):
    if max_len <= len(tokens[i]):
        max_len = len(tokens[i])

In [59]:
max_len

85

In [60]:
summary_token = []
for i in range(len(clear_summary)):
    summary_token.append(word_tokenize(clear_summary[i]))

In [62]:
max_len_sum = 0
for i in range(len(summary_token)):
    if max_len_sum <= len(summary_token[i]):
        max_len_sum = len(summary_token[i])

In [63]:
max_len_sum

19

In [64]:
vocab = []
for i in range(len(tokens)):
    for w in tokens[i]:
        vocab.append(w)
vocab = list(set(vocab))

In [65]:
vocab_size = len(vocab)

In [66]:
vocab_size

83769

In [67]:
from keras.models import Model
from keras.layers import Input
from keras.layers import LSTM
from keras.layers import Dense
from keras.utils.vis_utils import plot_model
from random import random
from numpy import array
from numpy import cumsum
from matplotlib import pyplot
from pandas import DataFrame
from keras.models import Sequential
from keras.layers import LSTM, Embedding, RepeatVector
from keras.layers import Dense
from keras.layers import TimeDistributed
from keras.layers import Bidirectional
import keras

In [68]:
inputs = Input(shape=(max_len,))
encoder1 = Embedding(vocab_size+1, 128)(inputs)
encoder2 = LSTM(128)(encoder1)
encoder3 = RepeatVector(max_len_sum)(encoder2)
# decoder output model
decoder1 = LSTM(128, return_sequences=True)(encoder3)
outputs = TimeDistributed(Dense(vocab_size+1, activation='softmax'))(decoder1)
# tie it together
model = Model(inputs=inputs, outputs=outputs)
model.compile(loss='categorical_crossentropy', optimizer='adam')

In [69]:
for i in range(len(summary_token)):
    for _ in range(max_len_sum-len(summary_token[i])):
                   summary_token[i].append(0)

In [70]:
tokens = np.asarray(tokens)

In [71]:
tokens.shape

(50000,)

In [72]:
vocab_sum = []
for i in range(len(summary_token)):
    for w in summary_token[i]:
        vocab_sum.append(w)
vocab_sum = list(set(vocab_sum))
vocab_sum_size = len(vocab_sum)
print(vocab_sum_size)

33285

In [73]:
for i in range(len(tokens)):
    tokens[i] = np.asarray(tokens[i])
    #tokens[i] = np.reshape(tokens[i], (len(tokens[i]),1))

In [ ]:
sum_final = []
for i in range(len(summary_token)):
    single = []
    for w in summary_token[i]:
        temp = [0]*(vocab_size+1)
        flag = False
        for k in range(len(vocab)):
            if w == vocab[k]:
                temp[k] = 1
                flag = True
                break
        if not flag:
            temp[vocab_size] = 1
        temp = np.asarray(temp)
        single.append(temp)
    sum_final.append(single)

In [ ]:
tk = []
for i in range(len(tokens)):
    single = []
    for w in tokens[i]:
        for k in range(len(vocab)):
            if w == vocab[k]:
                single.append(k+1)
                break
    #single = np.asarray(single)
    tk.append(single)

In [ ]:
for i in range(len(tk)):
    for _ in range(max_len-len(tk[i])):
                   tk[i].append(0)

In [ ]:
sum_final = np.asarray(sum_final)
tk = np.asarray(tk)

In [ ]:
for i in range(len(tk)):
    tk[i] = np.asarray(tk[i])

In [ ]:
model.fit([tk], sum_final,
          batch_size=256,
          epochs=15,
          validation_split=0.2)

In [ ]:
len(sum_final)

In [ ]:
tk.shape

In [ ]:
sum_final.shape

In [42]:
data = pd.read_csv("news_summary_more.csv")

In [ ]:
a = data[50000:50001]

In [ ]:
a = a["text"]

In [ ]:
a

In [ ]:
a = data["text"][50002]

In [ ]:
b = []
for w in a:
    for k in range(len(vocab)):
        if w == vocab[k]:
            b.append(k+1)

In [ ]:
for i in range(max_len-len(b)):
    b.append(0)

In [ ]:
len(b)

In [ ]:
max_len

In [ ]:
s = a.lower().replace(".","").replace(",","")

In [ ]:
s

In [ ]:
j = word_tokenize(s)

In [ ]:
len(j)
b = []
for w in j:
    for k in range(len(vocab)):
        if w == vocab[k]:
            b.append(k+1)

In [ ]:
for i in range(max_len-len(b)):
    b.append(0)

In [ ]:
len(b)

In [ ]:
c = model.predict(b)

In [ ]:
b = np.asarray(b)
b = np.reshape(b, (1,78))

In [ ]:
b.shape

In [ ]:
a

In [ ]:
a.shape

In [ ]:
v = np.max(a[0],axis=0)

In [ ]:
v

In [ ]:
v[0]

In [ ]:
a = np.array(a)
n = []
for i in range(18):
    for j in range(10248):
        if v[i] == a[0][i][j]:
            n.append(1)
        else:
            n.append(0)

In [ ]:
n = np.reshape(n,(1,18,10248))

In [ ]:
n